# FOLDERS
node_modules/
typings/
.idea/
.vscode/
.vs/

bin/
build/
vendor/
Debug/
Release/
libs/assimp/build/
libs/assimp/bin/
libs/draco/build/
libs/draco/bin/

# FILES
*.log
.DS_Store
CMakeSettings.json
